body {
  height: 100vh;
}

/* --- Goals Page Styles --- */
.progress {
  margin: 0 1rem;
  height: 1.5rem;
  font-size: 1rem;
}

/* -- About Page --- */
.about > p {
  font-size: 1.25em;
  padding-bottom: 0.5em;
}

/* -- Footer --- */
footer.branding {
  bottom: 0;
  left: 0;
  color: #fff;
  background-color: #127ba3;
  border-top: 4px solid #137099;
  padding-left: 10px;
}

.fixed-bottom, .push {
  height: 60px;;
}

.icon {
padding: 0 5px;
}

footer a#email {
  color: #fff;
  text-decoration: underline
}

footer small {
  font-size: 1.1em;
}