<h1>About Developer Journal</h1>

<div class="about">
	<p>👋🏾, I'm <a href="https://anthonygharvey.com">Anthony</a>.  I created the Developer Journal for my second project at <a href="https://flatironschool.com/" target="_blank">Flatrion School</a> (a <a href="http://sinatrarb.com/" target="_blank">Sinatra</a> app).  I chose to build an app that I wanted to use and with the features I looked for.  I wanted to keep track of my learning/coding "streaks" and set goals for myself during Flatiron's Full Stack Developer Program.  I think it's important to keep your goals in mind while you're learning something new (especially programming!) and set realistic, short-term goals to help keep up momentum.</p>

	<p>At the time I used a combination of <a href="http://dayoneapp.com/" target="_blank">DayOne</a> for journaling, <a href="http://happenapps.com/#quiver" target="_blank">Quiver</a> for programming notes, and different iOS goal tracking apps.  These apps worked for their intended purposes, but they were too cumbersome to use together; so I decided to build an app with what I wanted!</p>

	<h2>That was the beginning of the Developer Journal app!</h2>

	<br>

	<p>Once you register and login, you can set goals and specify the programming languages to focus on as well as the number of days to commit to the goal.  You can have as many goals as you'd like.  Once you have a goal, you can create as many entries as you want; however, goal progress is calculated based on the number of days with entries.</p>

	<p>For example: You could created a goal of Learn JavaScript with a timeframe of 10 days.  If you add 3 entries on the first day, the total progress would be 10% (1 out of 10 days).  If you created another entry on the second day, the total progress would be 20%.</p>

	<p>I built this feature with the <a href="http://www.100daysofcode.com/" target="_blank">100DaysOfCode</a> challenge in mind, and with flexibility.  You can use it for the 100DaysOfCode challenge.  Maybe set 30 days to learning HTML & CSS and the next 30 days to JavaScript.  Then throw in some <a href="https://www.mongodb.com/" target="_blank">MongoDB</a> and JavaScript frameworks to round it out!  Or set your own timeline and goals.  The point is to make it your own!  Everyone's journey to learning something new is different.  In the end, it's a marathon and not a sprint!  My race, my pace!</p>

	<p>You can read more about how I built the app on my <a href="https://anthonygharvey.com/projects/developer_journal" target="_blank">website</a> and checkout my GitHub <a href="https://github.com/anthonygharvey/developer_journal" target="_blank">repo</a>.</p>

	<p>If you have any questions, comments or suggestions, feel free to shoot me an <a href="mailto:anthony@anthonygharvey.com" target="_blank">email</a> or DM me on <a href="http://twitter.com/anthonyharvey" target="_blank">Twitter</a>.</p>

	<p>I hope you enjoy the app!  If you know anyone that may benefit from using this app, please let them know!</p>
</div>