<h2>Create a new goal</h2>
<br>

<% !!if flash[:goal_error] %>
	<div class="alert alert-dismissible alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<% flash[:goal_error].each do |message| %>
			<%= message %>
		<% end %>
	</div>
<% end %>

<form action='/goals' method='POST'>
	<label for="goal">Goal Name:</label>
	<input type="text" name="goal[name]" id="goal" class="form-control" placeholder="Goal Name" value="<% if !!flash[:goal_error]%><%= flash[:unsaved_name] %><% end %>">
	<br>

	<label for="days">Number of Days:</label>
	<input type="text" name="goal[duration_in_days]" id="days" class="form-control" value="<% if !!flash[:goal_error]%><%= flash[:unsaved_days] %><% end %>">
	<br>
	<br>

	<label for="laguages">Programming Languages:</label>
	<input type="text" name="goal[languages]" id="languages" class="form-control" value="<% if !!flash[:goal_error]%><%= flash[:unsaved_languages] %><% end %>">
	<br>
	<br>

	<input type="submit" id="submit" class="btn btn-success" value="Start Goal!">
	<button type="button" class="btn btn-secondary" onclick="window.location.href='/goals'">Cancel</button>	
</form>