<div class="jumbotron">
		<h2 class="display-3">Sorry, that page does not exist</h2>
		
		<% if current_user.goals.empty? %>
			<p class="lead">It looks like you do not have any goals yet.  Don't worry, you can create your first goal by clicking the <span class="text-success">New Goal</span> button above or the <span class="text-primary">Get Started</span> button below.</p>
			<hr class="my-4">
			<p>Programming is a skill best acquired by practice and example rather than from books. - Alan Turing</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="/goals/new" role="button">Get Started</a>
			</p>
		<% else %>
		<p class="lead">Don't worry, you go to your <a href="/goals">goals</a> or create a new goal by clicking on the <span class="text-success">New Goal</span> button above or the <span class="text-primary">Get Started</span> button below.</p>
		<hr class="my-4">
		<p>Programming is a skill best acquired by practice and example rather than from books. - Alan Turing</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="/goals/new" role="button">Get Started</a>
		</p>
		<% end %>

</div>